.main{
    display:flex;
    flex-direction:row;

    .chat{
        display: flex;
        flex-direction: column;
        height: 60vw;
        justify-content: space-between;
        .message{
            display: flex;
            flex-direction: column;
        }
    }
}